*  {
    box-sizing: border-box;
}

body{
    background: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    height: 100%;
}

#wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    width:100%;
    min-height: 97vh;
    background:#555;
    color:#fff;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #009579;
    height: 50px;

}

.inner-head{
    background: slategray;
    height: 50%;
    justify-items: center;
}

#chat-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
}

.user-logo{
    max-width: 100%;
    height: 100%;
}

.user_info{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    flex: 1 1 auto;
    min-height: 400px;
    background: url(../img/background.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#sidebar{
    width: 25%;
    height: 100%;
    border: 3px solid #333;
    float: left;
}

.inner-sidebar{
    height: 100%;
}

#content{
    border: 3px solid #333;
    width: 75%;
    height: 100%;
    float: left;
}

.inner-content{
    height: 100%;
}


#all-chat{
    height: 100%;
}

.search{
    display: flex;
    justify-content: center;
}

#search_field{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    border: 0;
    border-radius: 10px;
}

.chat-user{
    border: 3px solid #333;
    display: flex;
    flex-direction: row;
    max-height: 8vh;
    height: 8vh;
    cursor: pointer;
    position: relative;
}

.image{
    max-width: 100%;
    height: 100%;
}

.sli-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.round {
    position: absolute;
    z-index: 100;
    left: 40px;
    top: 43px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}

#messages{
    height: 80%;
}

#footer{

}

.inner-footer{
    background: #1e1d1d;
}

.chat-messages {
    min-height:93%;
    max-height:93%;
    overflow:auto;
}

.chat__message {
    border-left:3px solid #333;
    margin-top:2px;
    padding:2px;
}

.chat__message_black {
    border-color:#000;
}

.chat-input {
    height:10%;
}
input {
    font-family: arial, serif;
    font-size:16px;
    vertical-align:middle;
    background:#555;
    color:#fff;
    border:0;
    border-radius: 10px;
    display:inline-block;
    margin:1px;
    height:40px;
}

#chat-form{
    display: flex;
    justify-content: left;
    height: 100%;
}

.chat-form__input {
    height: 100%;
    width:85%;
}

.chat-form__submit {
    margin-top: 0.7%;
    margin-left: 3%;
    width: 10%;
    height: 80%;
    border-radius: 10px;
    background: #555;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */